.volumeInput {
  --progress-height: 5px;
  --progress-color: white;
  --progress-bg-color: #2e2e2e;

  margin: 0;
  width: 100%;
  height: var(--progress-height);
  appearance: none;
  cursor: pointer;
  background: transparent;

  overflow: hidden;
  transition: 0.2s;
}

.volumeInput::-webkit-slider-runnable-track {
  position: relative;
  height: var(--progress-height);
  background: var(--progress-bg-color);
}

.volumeInput::-webkit-slider-thumb {
  --thumb-height: 1px;
  --thumb-width: 1px;
  position: relative;
  -webkit-appearance: none;
  width: var(--thumb-width, var(--thumb-height));
  box-shadow: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100vmax var(--progress-color);
}

.volumeInput::-webkit-slider-runnable-track {
  background: var(--progress-bg-color);
}

/* FF */
.volumeInput::-moz-range-track {
  width: 100%;
  height: var(--progress-height);
  background: var(--progress-bg-color);
  border: none;
  border-radius: 0px;
}

.volumeInput::-moz-range-thumb {
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: transparent;
}

.volumeInput::-moz-range-progress {
  background-color: var(--progress-color);
  height: var(--progress-height);
}