.filterButton {

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
  margin-right: 10px;
}

.filterButton:not(:last-child) {
  margin-right: 10px;
}

.btnText:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
  cursor: pointer;
}

.active {
  border-color: #ad61ff;
  color: #ad61ff;
  cursor: pointer;
}

.filterResultBlock {
  display: block;

}

.filterBlock {

  display: flex;
  flex-direction: column;
  position: relative;

}

.filterNumber {
  position: absolute;
  right: 0px;
  bottom: 26px;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background: #ad61ff;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  text-align: center;
  padding: 6px;
}

.filterResultUl {
  position: fixed;
  height: 305px;
  width: 248px;

  margin-top: 10px;
  background-color: #313131;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #313131;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  overflow-wrap: normal;
  word-wrap: break-word;
  overflow: auto;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

}

.filterResultLi {
  padding: 10px;
  word-wrap: break-word;
  cursor: pointer;
}

.filterResultLi:hover {
  color: #B672FF;
  text-decoration: underline;

  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.filterResultLi:active {
  color: #ad61ff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1%;
  text-align: left;
  text-decoration-line: underline;
}

.filterResultLiActive {
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  color: #b672ff;
}